
/*HEADER INDEX*/
.header-index{
    background:url("../imagenes/nosotros.jpeg");
    min-height:100vh;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;

    &::before{
        content: "";
        display: block;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
    }
    .fade-in-left{-webkit-animation:fade-in-left 1s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in-left 1s cubic-bezier(.39,.575,.565,1.000) both}
    @-webkit-keyframes fade-in-left{0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes fade-in-left{0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}  
    .header-index__title{
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        align-content: flex-end;
        font-family: $funteTituloIndex;
        @media  screen and (min-width: 280px) and (max-width: 1199px){
            height: 600px;
        }
        @media  screen and (max-width: 767px) {
            justify-content: center;
            align-content: center;
        }
        .header-index__titleShoes{
            font-size: 5rem;
            color: white;
            text-transform: uppercase;
            text-align: center;
            margin:auto;
            font-weight: 200;
            @media  screen and (max-width: 767px){
                font-size: 2.8rem;
                margin: 1rem;
            }
            .header-index__titleSpan{
                font-size: 4rem;
                @media  screen and (max-width: 767px){
                    font-size:2.8rem;
                }
            }
        }
        .header-index__titleNew{  
           font-size: 1.5rem;
           margin:0.5rem;
        }
        .header-index__titleBoton{
            .header-index__titleBotonBack{
                margin: auto;
                background-color: rgba(255, 255, 255, 0);
                border-radius: 0.5rem;
                color: white;
                padding: 0.5rem;
                transition: all 0.5s;
                &:hover{
                    transform: scale(1.2);
                }
                @extend %focus;
                
            }
        }
    }
}

/*SECTION-MARCA-ENVIOS-SHOWROOM*/
.section-marca-envios-showroom{
    margin: 5rem 0;
    @media  screen and (max-width: 767px){
        margin: 3rem 0;
    }
    .container{
        width: 60%;
        @media  screen and (max-width: 767px){
            margin: auto;
            width: auto;
            
        }
        .section-marca-envios-showroom__article{
            padding:3rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            border-bottom: $borde;
            text-align: center;           
            @media  screen and (max-width: 767px){
                margin: 2rem 0;
                padding: 0 0.5rem 1rem;
            }
            .section-marca-envios-showroom__icono{
                color: white;
                font-size: 5rem;
                padding: 1.5rem;
            }

            .section-marca-envios-showroom__title{
                color:$amarillo;
                text-transform: uppercase;
                font-weight: 600; 
                padding-bottom: 0.5rem;
                
                @media  screen and (max-width: 767px){
                    font-size: 1.8rem;
                }
            }
            .section-marca-envios-showroom__text{
                font-size: 1.5rem;
                padding-bottom: 0.5rem;
                line-height: 1.8rem;
                
                @media  screen and (max-width: 767px){
                    padding: 0;
                    font-size: 1.2rem;
                }
                .section-marca-envios-showroom__textLink{
                    text-decoration: none;

                }
                .section-marca-envios-showroom__textLink,
                .section-marca-envios-showroom__textStrong{
                    color:$amarillo/*#fffa73*/; 
                }
            }   
        }
    }
}

/*SECTION-PRODUCTOS-DESTACADOS*/
.back-sub-section{
    width: auto;
    background:$amarillo;
    text-align: center;

}
.section-prod-dest{
    .section-prod-dest__list{
        display: flex;
        justify-content: center;
        margin: 5rem 0;
        @media  screen and (max-width: 767px){
            flex-direction: column;
            margin: 2rem 0;
        }
        
        .section-prod-dest__listItem{
            width: 25%;
            display: flex;
            align-content: center;
            justify-content: center;
            transition: all 1s;
            @extend %img-hover;
            @extend %hover;

            @media  screen and (max-width: 767px){
                width: 100%;  
            }
            @media  screen and (min-width: 768px) and (max-width: 1199px){
                width: 100%;
            }

            .section-prod-dest__listImg{
                width: 100%;
                padding: 0.5rem;  
            }
        }
    }
}


/*SECTION-CUSTOMER*/
.section-customer{
    margin-top: 5rem;
    @media  screen and (max-width: 767px){
        margin-top: 2rem;
    }
    .carousel{
        margin: auto;
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    position: static;
                    width: 80%;
                    margin: auto;
                    @media  screen and (max-width: 767px){
                        width: 70%;
                    }
                    h5{
                        font-size: 1.3rem;
                        color: $amarillo;
                    }
                    p{
                        margin-bottom:1.2rem;

                    }
                }
            }
        }
        .fa-chevron-left,
        .fa-chevron-right{
            color: $amarillo;
            font-size: 2rem;
        }
        .carousel-indicators{
            z-index:1;
            li{
             background-color: $amarillo;
            }
        }
    
    }
}



/*NEWSLETTER*/
.section-newsletter{
    .section-newsletter__form{
        .section-newsletter__formFlex{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem;
            @media  screen and (max-width: 767px){
                display: flex;
                flex-direction: column;
            }
            input{
                margin: 0.5rem;
                padding: 1rem;
                border-radius: 1rem;
                background: $negro;
                border:$borde; 
                color: white;
                @extend %focus;

                &:-webkit-autofill{
                    -webkit-text-fill-color: white;
                    -webkit-box-shadow: 0 0 0px 1000px $negro inset;
                }
            }
            .section-newsletter__formMail{
                width: 30%;
                @media  screen and (max-width: 767px){
                    width: auto;
                }

            }
            .section-newsletter__formSubscribite{
                color: white;
                text-transform: uppercase;
                transition:  all 0.5s;
                &:hover{
                    background: $amarillo;
                    color: black;
                }
                @extend %focus;
            }
        }
    }
}
