.carousel{
    width: 80%;
}
.carousel-caption{
    color: black;
    position: static;


}
.carousel-indicators li{
    background-color: yellow;
}
.carousel-control-prev,
.carousel-control-next{
background-color: black;



}

p{
    margin: 0 2rem;
 }